/***** About CSS *****/

/**********/


#about-text-container {
	width: 80%;
	margin: auto;
	padding: 15px;
}

#profile-image {
	width: 20%;
	height: 20%;
	float: left;
	margin-left: 50px;
	padding: 30px;
	border-radius: 100%;
}


#about-text-container p {
	font-size: 14px;
	margin-top: 50px;
	width: 90%;
}

#about-text-container a:hover {
	text-decoration: underline;
}

