/*Blog css*/

/*
blog section
*/


#blog-nav {
	width: 100%;
	margin: -30px 0;
	text-align: center;
}

#blog-nav ul {
	display: inline-block;
	list-style: none;
	margin:0 auto;
	padding: 0;
	overflow: hidden;
}


#blog-nav ul li {
	float: left;
	margin: 0 5px;
}

#blog-nav a {
	text-decoration: bold;
}

#blog-nav a:hover {
	text-decoration: underline;
}


.blog h2{
	text-align: center;
}

.blog img {
	height: 40px;
	width: 40px;
}


.blog-box {
	opacity:0.8;
	width: 80%;
	margin: 0px auto;
	background-color: grey;
	border-radius: 20px;
	padding: 5px 5px;
}

.blog-box ul {
	width: 100%;
	display: inline-block;
	list-style: none;
	margin: 0 0 0 100px;
	padding: 0;
	overflow: hidden;
}

.blog-card {
	float: left;
	text-align: center;
	opacity:0.9;
	margin: 5px 5px;
	background: #e3e3e3;
	display: inline-block;
	width: 25%;
	/*height: 30%;*/
	overflow: auto;
	overflow-x: hidden;
	padding: 5px 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.code-zone {
	padding: 5px;
	background-color: black;
	color: white;
}

.post {
	clear: both;
}

.post {
	width: 95%;
	margin-bottom: 50px;
	overflow: hidden;
}

.post h2,h3,h4,p {
	margin: 10px;
}

.post img {
	width: 70%;
	border-radius: 10px;
}
