/*Blog css*/

/*
blog section
*/


#blog-nav {
	width: 300px;
	margin: 10px auto;

}

#blog-nav a:hover {
	
	background-color: black;
	color: white;
	padding: 1px;
	border-radius: 2px;
}

.blog-nav-locator {
	float: left;
}

.blog {
	margin: 50px 0 0 20px;
}

.blog img {
	height: 40px;
	width: 40px;
}

.post {
	clear: both;
}

.blog-box {
	border: 3px solid black;
	border-radius: 30px;
	height: 100px;
	width: 200px;
	padding: 10px;
	margin-right: 10px;
	float: left;
}

.blog a:hover {
	font-weight: bold;
	font-size: 90%;
}

.code-zone {
	padding: 5px;
	background-color: black;
	color: white;
}


li {
	list-style: none;
}

.post {
	width: 95%;
	margin-bottom: 50px;
	overflow: hidden;
}

.post h2,h3,h4,p {
	margin: 10px;
}

.post img {
	width: 70%;
	border-radius: 10px;
}
