/* Default CSS */


html {
	font-family: Verdana, Helvetica, serif;
}

a {
	text-decoration: none;
}

body {
	height:100%;
	padding: 0;
	margin: 0;
}

.background-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url('../imgs/background_pic.jpg');
	background-size:cover;
	z-index:-1;
	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
  	-ms-filter: blur(2px);
  	filter: blur(2px);
}

article,aside,footer,header,menu,nav,section {
	display: block;
}

/**********
header
**********/

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index : -1;
	/*background-color: #0072C6;*/
}

#label h1 {
	font-family: Futura;
	color: black;
	margin: 5px 0 10px 0px;
	font-size: 40px;
	text-align: center;

}


/*
navbar
*/
.nav-container {
	width: 60%;
	height: 30px;
	margin: 60px auto;
	font-family: Verdana;
	text-align: center;
	background-color: #404040;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
}

.nav-container ul {
	display: inline-block;
	list-style: none;
	margin: 3px auto;
	padding: 0;
	overflow: hidden;
}

.nav-container ul li {
	float: left;
}

.nav-container a {
	display: block;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 20px;
	padding: 3px 5px;
	color: white;
	font-weight: bold;
	opacity: 0.5;
}


.nav-container a:hover {
/*	color: black;
	background-color: white;*/
	opacity: 1;


/*nav {
	text-align: center;
	font-family: Verdana;
	background-color: #0072C6;
	padding: 10px 10px 10px 10px;
}

nav a {
	display: inline;
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: white;
	font-weight: bold;
}

nav a:hover {
	color: black;
	background-color: white;
	border-radius: 5px;
*/
}

/*
homepage section
*/

#homepage {
	margin-top: 15em;
	text-align: center;
	font-weight: bold;
  	color: white;
  	text-shadow: 2px 2px 2px black,
  				-2px -2px 2px black,
              	-2px 2px 2px black,
               	2px -2px 2px black;
}

/*
footer
*/

footer {
	position: fixed;
	width: 100%;
	height: 50px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 0;
  	/*background-color: #0072C6;*/
}

.footer-container {
	width: 100%;
	margin: auto;
	text-align: center;
}

.footer-container ul {
	display: inline-block;
	list-style: none;
	margin:0 auto;
	padding: 0;
	overflow: hidden;
}

.footer-container ul li {
	float: left;
}

.copyright {
	font-size: 8px;
	width: 100%;
	margin:0 auto;
}


